// Pinny
// =====
//
//
// Notes:
//
// 1. The exact position (top, right, bottom, left) is added automatically by
//    Pinny. The positioning can be configured by using Pinny's `coverage` API,
//    which is explained [here](https://github.com/mobify/pinny#coverage)
// 2. The display is automatically set to "block" by Pinny on open.
// 3. Avoid content bleed through.
// 4. Hide the outline when Pinny is focused for screen readers
// 5. Pinny shows a tap highlight when tapped for an unknown reason. This
//    removes that.

.pinny {
    position: fixed; // 1

    display: none; // 2

    background: white; // 3
    outline: none; // 4

    -webkit-tap-highlight-color: rgba(black, 0); // 5
}

// Pinny: Wrapper
// --------------
//
// The Pinny Wrapper is responsible for applying a flex context that will layout
// the children inside (i.e. header, content and footer).
//
// This is added to the markup automatically by Pinny, so no need to include in
// any authored code.
//
//
// Notes:
//
// 1. The relevant flex children are the `.pinny__header`, `.pinny__footer`
//    and `.pinny__content`

.pinny__wrapper {
    display: flex; // 1
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}



// Pinny: Header & Footer
// ----------------------
//
// The header is the top section of a Pinny modal. Typically holds a heading or
// title.
//
// There is no footer by default. However, you can pass HTML to Pinny via its API,
// as explained [here](https://github.com/mobify/pinny#footer)
//
//
// Notes:
//
// 1. `display: flex` is coming from `.pinny__wrapper`
// 2. This prevents the header and footer from being forced to shrink relative to
//    other flex children (read: the content) – in other words, the header and
//    footer will not shrink to accomodate the `.pinny__content` element

.pinny__header,
.pinny__footer {
    flex-shrink: 0; // 1, 2
}


// Pinny: Content
// --------------
//
// This is the actual container for a Pinny's content. This is added automically
// by Pinny, so you do not need to use it in your code
//
//
// Notes:
//
// 1. `display: flex` is coming from `.pinny__wrapper`
// 2. This allows the content to grow or shrink as necessary based on content
//    and the header/footer

.pinny__content {
    overflow: auto;
    flex: 1; // 1, 2

    -webkit-overflow-scrolling: touch;
}


// Pinny: Hidden
// -------------
//
// We polyfill the hidden attribute here to ensure it hides all content when
// applied. Pinny uses [hidden] to hide content from FOUT before the plugin is
// initialized.

[hidden] {
    display: none !important;
}
