$title-font-color: #fff;
$title-background: #3498db;


.pinny__title {
    position: relative;

    padding: 10px;

    background: $title-background;

    color: $title-font-color;

    .pinny__close {
        position: absolute;
        right: 10px;
        top: 4px;

        text-decoration: none;

        font-size: 22px;

        color: $title-font-color;
    }
}

.pinny__content {
}