.pinny {
    position: fixed;

    display: none;
    overflow: hidden;
    flex-direction: column;

    background: white;
}

.pinny__header,
.pinny__footer {
    flex-shrink: 0;
}

.pinny__content {
    overflow: auto;
    flex: 1;

    -webkit-overflow-scrolling: touch;
}

.pinny__hidden {
    display: none !important;
}
