$title-background: #3498db;


.pinny__title {
    position: relative;

    padding: 10px;

    background: $title-background;

    .pinny__close {
        position: absolute;
        right: 10px;
        top: 8px;

        text-decoration: none;

        color: #fff;
    }
}

.pinny__content {
}