$title-font-color: #fff;
$title-background: #3498db;


.pinny__title {
    position: relative;

    padding: 10px;

    background: $title-background;

    color: $title-font-color;
}

.pinny__content {
}
