// ==========================================================================
// BASE STYLE
// ==========================================================================

* {
    box-sizing: border-box;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    margin: 0;
}