// ==========================================================================
// FONTS
// ==========================================================================

@font-face {
    font-family: 'entypo';
    font-style: 'normal';
    font-weight: 'normal';
    src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot');
    src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix') format('eot'),
    url('http://weloveiconfonts.com/api/fonts/entypo/entypo.woff') format('woff'),
    url('http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf') format('truetype'),
    url('http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo') format('svg');
}


// ==========================================================================
// VARIABLES
// ==========================================================================

$accent: #1cbbb4;


// ==========================================================================
// GENERAL
// ==========================================================================

.pinny-viewport {
    background-color: #fff;
}


.pinny-header {
    border-bottom: 1px solid #555;

    background-color: #fff;

    // Close icon
    .pinny-close {
        text-decoration: none;

        &::before {
            content: "\2715";

            color: #000;
            font-family: "entypo", sans-serif;
        }
    }
}